{{> head}}
<section class="post-view">
    <article>
     {{#if fmTitle}}
         <h1 class="post-title">{{ fmTitle }}</h1>
     {{/if}}
     {{{html}}}
    </article>
    <section class="comment">
        <div id="disqus_thread"></div>
    </section>
</section>
{{> end}}